{% extends "base/base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-8">
        <a href="{% url 'projects-home' %}"><i class="fas fa-arrow-circle-left"></i> Back to Projects</a>
        <h1>{{ object.title }}</h1>

        <!-- images -->
        <div class="container">
            <div class="row">
                {% for ilust in object.ilustration_set.all %}
                <div class="col-sm">
                    <img src="{{ ilust.picture.url }}" class="project-img" data-toggle="modal"
                        data-target="#imageModal{{ forloop.counter }}">
                </div>

                <!-- Take this out of the for loop, pass data, see https://getbootstrap.com/docs/4.3/components/modal/#varying-modal-content -->
                <!-- Modal -->
                <div class="modal fade" id="imageModal{{ forloop.counter }}" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="{{ ilust.picture.url }}">
                            </div>
                            <div class="modal-footer">
                                <h5>{{ ilust.caption }}</h5>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>


        <!-- description -->
        <p>{{ object.description|safe|linebreaks }}</p>
    </div>

    <!-- Sidebar -->
    <div class="col-md-4">
        {% include "base/sidebar.html" %}
    </div>
</div>
{% endblock content%}