{% extends "base/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <a href="{% url 'projects-home' %}"><i class="fas fa-arrow-circle-left"></i> Back to Projects</a>
        <h1>{{ object.title }}</h1>

        <!-- images -->
        <div class="container">
            <div class="row">
                {% for ilust in object.ilustration_set.all %}
                <div class="col-sm">
                    <img src="{{ ilust.picture.url }}" class=".img-thumbnail">
                </div>
                {% endfor %}
                
            </div>
        </div>




        <p>{{ object.description|safe|linebreaks }}</p>
    </div>

    <!-- Sidebar -->
    <div class="col-md-4">
        {% include "base/sidebar.html" %}
    </div>
</div>
{% endblock content%}