{% extends "base/base.html" %}
{% block content %}
{% load static %}

<div class="row">
    <div class="col-md-8">


        <div class="jumbotron">
            <h1 class="display-4 text-center">Welcome to BacaLab!</h1>
            <p class="lead text-center">My personal portfolio website built using Django and Bootstrap.</p>
            <hr class="my-4">

            <p>I use it to learn and practice Django and web development as well as to showcase some of
                my past and ongoing personal software projects. <br>

            <div class="media">
                <img src="{% static "resume/images/trabalhar.jpg" %}" class="rounded-circle mr-4">
                <div class="media-body">
                    I'm a Software Engineer with over 10 years experience in the full Software Development
                    Life Cycle, including Development and Product Management. <br>
                    I have an interest and training in AI, Data Science and Geographic Information Systems (GIS). <br>
                    I'm a Portuguese native also fluent in English, Spanish and German. <br>
                    Thanks for visiting!
                </div>
            </div>

            
            <i>Helder Reis</i>
        </div>

        <!-- TODO: get this to the DB as well -->
        <!-- Education -->
        <div class="content-section mt-5" id="education-section">
            <h4 class="text-center"><b> Education</b></h4>
            <!-- Degree -->
            <div class="card border-0">
                <div class="card-body ">
                    <h5 class="card-title"> Degree in Computer Engineering </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <a href="https://www.ipleiria.pt/cursos/course/undergraduate-in-computer-engineering/"
                            target="_blank">Instituto Politécnico de Leiria, Portugal</a>, <i>2004-2009</i>
                        <a class="badge badge-pill badge-light" data-toggle="collapse" href="#descDegree" role="button"
                            aria-expanded="false">+info</a>
                    </h6>

                    <div class="collapse multi-collapse" id="descDegree">
                        <div class="card card-body">
                            Study areas included software development, planning and configuration of networks and
                            services, security,
                            mobile computing, administration and intelligent data analysis, among other valences.<br>
                            Took night-courses while working during the day. <br> Final project was a text
                            classification web application. <br>
                            Obtained a final score of 15/20.
                        </div>
                    </div>
                </div>
            </div>
            <!-- IBM Certificate -->
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">IBM Data Science Professional Certificate
                        Specialization </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/RBUCVUGL4PD7"
                            target="_blank">Coursera (view certificate)</a>, <i>2019</i>
                        <a class="badge badge-pill badge-light" data-toggle="collapse" href="#descIBM" role="button"
                            aria-expanded="false">+
                            info</a>
                    </h6>
                    <div class="collapse multi-collapse" id="descIBM">
                        <div class="card card-body">
                            <p>Learned Data Science and its Methodology, performed Data Visualization and Analysis, and
                                created Machine Learning models using Python and SQL. Completed several labs and
                                assignments on the cloud including a Capstone Project, available
                                on my <a href="https://github.com/helder-a-reis/Coursera_Capstone/tree/master/Final"
                                    target="_blank">GitHub</a>.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Udacity AI -->
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">Artificial Intelligence Nanodegree </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <a href="https://graduation.udacity.com/confirm/4UG54AJ5" target="_blank">Udacity (view
                            certificate)</a>, <i>2018</i>
                        <a class="badge badge-pill badge-light" data-toggle="collapse" href="#descAI" role="button"
                            aria-expanded="false">+
                            info</a>
                    </h6>
                    <div class="collapse multi-collapse" id="descAI">
                        <div class="card card-body">
                            <p>Learned essential Artificial Intelligence concepts including search, optimization,
                                planning,
                                pattern recognition, and more. Final project was blablabla available on my <a
                                    href="https://github.com/helder-a-reis/Coursera_Capstone/tree/master/Final"
                                    target="_blank">GitHub</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Experience -->
        <div class="content-section mt-5" id="experience-section">
            <h4 class="text-center"><b> Professional Experience</b></h4>

            <!-- Lists all Jobs -->
            {% for job in jobs%}
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title"> {{ job.title }} </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <i>{{ job.startYear }} - {{ job.endYear }},
                            <a href="{{ job.companyURL }}" target="_blank">{{ job.companyName }}</a>,
                            {{ job.location }}</i>
                        <a class="badge badge-pill badge-light" data-toggle="collapse" href="#desc{{ forloop.counter }}"
                            role="button" aria-expanded="false">+info</a>
                    </h6>
                    <div class="collapse multi-collapse" id="desc{{ forloop.counter }}">
                        <div class="card card-body">
                            {{ job.description|linebreaks }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Sidebar -->
    <div class="col-md-4">
        <!-- Navigator -->
        <!--         <div class="content-section">
            <h4>Overview</i></h4>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><a href="#summary-section"><i class="far fa-bookmark"></i> Summary</a></li>
                <li class="list-group-item"><a href="#education-section"><i class="fas fa-award"> </i> Education</a>
                <li class="list-group-item"><a href="#experience-section"><i class="fas fa-briefcase"></i> Professional
                        experience</a></li>
                </li>
            </ul>
        </div> -->

        <!-- Skills -->
        <div class="content-section" id="skills-section">
            <h4 class="text-center"><b>Skills</b></h4>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-code mr-3"></i> Programming Languages</h5>
                    <ul>
                        <li>Java</li>
                        <li>Python</li>
                        <li>C#</li>
                        <li>HTML/CSS/Javascript</li>
                        <li>SQL</li>
                        <li>COBOL</li>
                    </ul>
                    <br>
                    <h5 class="card-title"><i class="fas fa-tools"></i> Frameworks and Tools</h5>
                    <ul>
                        <li>Django</li>
                        <li>Jupyter Notebooks</li>
                        <li>.NET</li>
                        <li>Git, GitHub, Bitbucket and SVN</li>
                        <li>Jenkins</li>
                        <li>JIRA and Confluence</li>
                    </ul>
                    <br>
                    <h5 class="card-title"><i class="fas fa-brain"></i> Artificial Intelligence</h5>
                    <ul>
                        <li>Data Science</li>
                        <ul>
                            <li>Wrangling</li>
                            <li>Visualization</li>
                            <li>Analysis</li>
                        </ul>
                        <li>Machine Learning</li>
                    </ul>
                    <br>
                    <h5 class="card-title"><i class="fas fa-server"></i> Operating Systems</h5>
                    <ul>
                        <li>Windows</li>
                        <li>Linux</li>
                        <li>AS400</li>
                    </ul>
                    <br>
                    <h5 class="card-title"><i class="fas fa-database"></i> Databases</h5>
                    <ul>
                        <li>PostgreSQL</li>
                        <li>MySQL</li>
                        <li>MS SQL Server</li>
                        <li>Oracle</li>
                        <li>DB2</li>
                        <li>SQLite</li>
                    </ul>
                    <br>
                    <h5 class="card-title"><i class="fas fa-drafting-compass"></i> Agile Methodologies</h5>
                    <ul>
                        <li>SCRUM</li>
                        <li>Scaled Agile Framework (SAFe)</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-globe"></i> Languages</h5>
                    <ul>
                        <li><b>Portuguese: </b>Native speaker</li>
                        <li><b>English: </b>C2 Grade A certificate by Cambridge Assessment English</li>
                        <li><b>Spanish: </b>Bilingual proficiency</li>
                        <li><b>German: </b>Intermediate</li>
                        <li><b>French: </b>Elementary</li>
                    </ul>
                </div>
            </div>
        </div>



    </div>
</div>


{% endblock content%}