{% load static %}

<div class="content-section">
    <h4 class="text-left">About Bacalab</h4>
    <div class="media">
        <img src="{% static "resume/images/trabalhar.jpg" %}" class="rounded-circle article-img">
        <div class="media-body">
            <p>BacaLab is my personal website built using Django and Bootstrap.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            I invite you to <a href="{% url 'profile' %}">visit my profile</a>
                     
        </div>
        <div class="row">
            <div class="col text-left">
                <i>Helder Reis</i>
            </div>
            <div class="col text-right">
                <a href="https://www.linkedin.com/in/helder-a-reis/" target="_blank">
                    <i class="fab fa-linkedin" style="font-size: 1.5em"></i></a>
                <a href="https://github.com/helder-a-reis" target="_blank"><i class="fab fa-github-square"
                        style="font-size: 1.5em"></i></a>
            </div>

        </div>


    </div>
</div>