{% load static %}

<div class="content-section">
    <h4 class="text-left">About Bacalab</h4>
    <div class="media">
        <img src="{% static "resume/images/trabalhar.jpg" %}" class="rounded-circle article-img">
        <div class="media-body">
            <p>BacaLab is my personal website built using Django and Bootstrap.</p>
        </div>
    </div>

    I use it to learn and practice Django and web development as well as to showcase some of
    my past and ongoing personal software and musical projects. <br>
    I invite you to visit my profile and get in touch
    using the <a href="#">Contact form</a> or via LinkedIn. Thanks for visiting!
    <br>
    <i><a href="{% url 'profile' %}">Helder Reis</i></a>
    <br>
    <a href="https://www.linkedin.com/in/helder-a-reis/" target="_blank">
        <i class="fab fa-linkedin" style="font-size: 1.5em"></i></a>
    <a href="https://github.com/helder-a-reis" target="_blank"><i class="fab fa-github-square"
            style="font-size: 1.5em"></i></a>

</div>


</div>
</div>