{% load static %}

<div class="content-section">
    <h4 class="text-left">About Bacalab</h4>
    <div class="media">
        <img src="{% static "resume/images/trabalhar.jpg" %}" class="rounded-circle article-img">
        <div class="media-body">
            BacaLab is my online portfolio built using Django and Bootstrap.
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col text-left">
                <a href="{% url 'profile' %}">Helder Reis </a>
            </div>
            <div class="col text-right">
                <a href="https://www.linkedin.com/in/helder-a-reis/" target="_blank">
                    <i class="fab fa-linkedin" style="font-size: 1.5em"></i></a>
                <a href="https://github.com/helder-a-reis" target="_blank"><i class="fab fa-github-square"
                        style="font-size: 1.5em"></i></a>

            </div>

        </div>


    </div>
</div>