{% extends "base/base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <a href="{% url 'projects-home' %}"><i class="fas fa-arrow-circle-left"></i> Back to Projects</a>
        <h1>{{ object.title }}</h1>

        <!-- images -->
        <div class="container">
            <div class="row">
                {% for ilust in object.ilustration_set.all %}
                <div class="col-sm">
                    <img src="{{ ilust.picture.url }}" class="project-img .img-thumbnail" data-toggle="modal" data-target="#imageModal">
                </div>
                {% endfor %}

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-xl" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- description -->
        <p>{{ object.description|safe|linebreaks }}</p>
    </div>

    <!-- Sidebar -->
    <div class="col-md-4">
        {% include "base/sidebar.html" %}
    </div>
</div>
{% endblock content%}