<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-5">
            <img class="teaser-img img-thumbnail border-0 " src="{{ project.thumb.url }}">
        </div>

        <div class="col-md-7">
            <div class="card-body">
                <div class="card-title">
                    <h4>{{ project.title }}</h4>
                </div>
                <p class="card-text">{{ project.teaser }}</p>
                <div>
                    <p>
                        <a class="btn btn-primary" href="{% url 'project-detail' project.id %}" role="button">View details &raquo;</a>                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>