{% extends "base/base.html" %}
{% load static %}
{% block content %}



<!-- <div class="jumbotron">
    <h1 class="display-4">Welcome to BacaLab!</h1>
    <p class="lead">BacaLab is my personal website built using Django and Bootstrap.</p>
    <hr class="my-4">

    <div class="media">
        <img src="{% static "resume/images/trabalhar.jpg" %}" class="rounded-circle article-img">
        <div class="media-body">
            <p>I use it to learn and practice Django and web development as well as to showcase some of
                my past and ongoing personal software projects. <br>
                I invite you to visit my profile and get in touch.
            </p>
        </div>
    </div>

    <p>Thanks for visiting! <br>
        <i>Helder</i></p>
    <a class="btn btn-primary" href="{% url 'profile' %}" role="button">View my profile</a>
</div> -->

<!-- Showcase -->

<!-- Change the  variables in views to view other posts or projects -->
<div class="row">
    <div class="col-md-12">

        <div class="jumbotron mt-5">
            <h1 class="display-4 text-center">Welcome to BacaLab</h1>
            <p class="lead text-center">My personal portfolio website built using Django and Bootstrap.</p>
            <hr class="my-4">

            Thanks for visiting! <br>
            <i>Helder Reis</i>
        </div>

    </div>

    <div class="col-md-12">
        <h2 class="mt-5 mb-3">Highlighted Project</h2>
        {% include 'projects/project_teaser.html' with project=highProject %}
        <a class="btn btn-secondary" href="{% url 'projects-home' %}" role="button">View all Projects &raquo;</a>

        <h2 class="mt-5 mb-3">Latest blog entry</h2>
        {% include 'blog/post_teaser.html' with post=latestPost %}
        <a class="btn btn-secondary" href="{% url 'blog-home' %}" role="button">View all Articles &raquo;</a>
    </div>








</div>


{% endblock content%}