{% load static %}

<div class="content-section">
    <h4 class="text-left">About Bacalab</h4>
    <div class="media">
        <img src="{% static "resume/images/trabalhar.jpg" %}" class="rounded-circle article-img">
        <div class="media-body">
            <p>BacaLab is my online portfolio built using Django and Bootstrap.</p>
        </div>
    </div>
    <p>TODO: Blablabla say something more.</p>
    <a class="btn btn-primary" href="{% url 'profile' %}" role="button">View my profile</a>


</div>