{% load static %}
<div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
        <title>{{ project.title }}</title>
        <!-- <img src="{{ projects.thumb.url }}"> -->
        <img src="project.png">
    </svg>
    <div class="card-body">
        <p class="card-text">{{ project.teaser }}</p>
        <div class="d-flex justify-content-between align-items-center">
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>