{% load static %}

<div class="content-section">
    <h4 class="text-left">About Bacalab</h4>
    <div class="media">
        <img src="{% static "resume/images/trabalhar.jpg" %}" class="rounded-circle article-img">
        <div class="media-body">
            <p>BacaLab is my personal website built using Django and Bootstrap.</p>
        </div>
    </div>

    I use it to learn and practice Django and web development as well as to showcase some of
    my past and ongoing personal software and musical projects. <br>
    I invite you to visit my profile and get in touch. <br>
    Thanks for visiting! <br>
    <i>Helder</i> <br>
    <a class="btn btn-primary" href="{% url 'profile' %}" role="button">View my profile</a>

</div>


</div>
</div>