{% extends "blog/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/timeline.css' %}">
<h1>This is my profile</h1>
<p>Something Something blablabla</p>
<div class="container">
    <div class="page-header">
        <h1 id="timeline">Professional and Academic Timeline</h1>
    </div>
    <ul class="timeline">

        
        <li>
            <div class="timeline-badge info"><i class="fas fa-award"></i></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">IBM Data Science Professional Certificate</h4>
                        <p><small class="text-muted"><a href="https://www.cgm.com/es/index.es.jsp" target="_blank">CompuGroup Medical</a></small></p>
                    </div>
                    <div class="timeline-body">
                        <p>blabla</p>
                    </div>
                </div>
            </li>        
        <li>
            <div class="timeline-badge"><i class="fas fa-briefcase"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Product Owner</h4>
                    <p><small class="text-muted"><a href="https://www.cgm.com/es/index.es.jsp" target="_blank">CompuGroup Medical</a></small></p>
                </div>
                <div class="timeline-body">
                    <p>Uns filhos da puta impresentáveis.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Product Owner</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i><a href="https://www.speexx.com" target="_blank">Speexx</a></small></p>                    
                </div>
                <div class="timeline-body">
                    <p>Não são más pessoas.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Software Engineer</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i><a href="https://www.openjawtech.com/" target="_blank">Openjaw Technologies</a></small></p>                    
                </div>
                <div class="timeline-body">
                    <p>Comprado pelos Chineses</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                        porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros
                        vermeio, in elementis mé pra quem é amistosis quis leo.
                        Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci
                        latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                        porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros
                        vermeio, in elementis mé pra quem é amistosis quis leo.
                        Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci
                        latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                    <hr>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                        porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros
                        vermeio, in elementis mé pra quem é amistosis quis leo.
                        Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci
                        latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                        porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros
                        vermeio, in elementis mé pra quem é amistosis quis leo.
                        Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci
                        latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>
            </div>
        </li>
    </ul>
    This timeline was built using the <a href="https://codepen.io/bsngr/pen/Ifvbi">Bootstrap Timeline</a> - thank you.
</div>
{% endblock content%}